
.Hero{
    height: calc(100vh - 60px);
    width: calc(100vw- 2rem);
    position: relative;
    cursor: none;

}

.Name-container{
    position: absolute;
    left: 15%;
    top: 20%;
    color: #373A40;
    margin: 0;
}

.Name-container-Mask{
    height: calc(100vh - 80px);
    width: 100%;
    mask-image: url('../../assets/Mask.svg');
    mask-size: 40px;
    background: #000000;
    position: absolute;
    mask-repeat: no-repeat;
    color: black;
    display: grid;
    grid-template-columns: 0.27fr 0.5fr 1fr;
    grid-template-rows: 0.77fr 2fr 1fr;
}
.Name-item{
    color: #DC5F00;
    grid-area: 2/2/3/3;
}
.Name-item span{
    color: #EEEEEE;
}
.type-writer{
    position: absolute;
    top: 30%;
    right: 0%;
    font-size: 4rem;
}

.cursor{
    border-radius: 9999px;
    height: 32px;
    width: 32px;
    top: 0;
    left: 0;
    background-color: black;
    pointer-events: none;
}


h1{
    font-weight: 900;
    font-size: 5rem;
}


.Name-container span{
    color:#DC5F00;
}
