.Hero{
    height: 100vh;
    position: relative;
}

.Name-container{
    position: absolute;
    left: 15%;
    top: 20%;
    color: #373A40;
    margin: 0;
}

.cursor{
    position: fixed;
    border-radius: 9999px;
    height: 32px;
    width: 32px;
    top: 0;
    left: 0;
    background-color: black;
    pointer-events: none;
}


h1{
    font-weight: 900;
    font-size: 5rem;
}


.Name-container span{
    color:#DC5F00;
}
